<div class="row">
    <div class="col-lg-6">
        <input class="form-control" type="text" [(ngModel)]="serverName">
    </div>
    <div class="col-lg-6">
        <button class="btn btn-success" [disabled]="isAddingServerDisabled" (click)="onServerCreated()">Add Server</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" [ngStyle]="{'margin-top': '10px'}">
        <app-server *ngFor="let server of servers"></app-server>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <input class="form-control" type="text" [(ngModel)]="userName">
    </div>
    <div class="col-lg-6">
        <button class="btn btn-success" [disabled]="userName === ''" (click)="userName = ''">Reset</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h4>{{ userName }}</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-primary" (click)="onToggleDetails()">Display details</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-warning" role="alert" [hidden]="!showDetails" [ngStyle]="{'margin-top': '10px'}">
            <p [ngStyle]="{'padding-left': '10px'}">Very important details!!!!</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div *ngFor="let item of items" class="alert alert-info" role="alert" [ngStyle]="{'margin-top': '10px'}" [ngClass]="{'alert-danger': item % 5 == 0}">
            <p [ngClass]="{'padding-left': '10px'}">{{item}}</p>
        </div>
    </div>
</div>