<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm"> -->
            <form (ngSubmit)="onSubmit()" #f="ngForm">
                <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" class="form-control" name="username" ngModel required #username="ngModel">
                        <span *ngIf="username.invalid && username.touched" class="help-block">Please enter valid username</span>
                    </div>
                    <button class="btn btn-default" type="button" (click)="fillUserName()">Sugest an Username</button>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" class="form-control" name="email" ngModel required email #email="ngModel">
                        <span *ngIf="email.invalid && email.touched" class="help-block">Please enter valid email</span>
                    </div>
                    <span *ngIf="userData.invalid && userData.touched" class="help-block">Please enter valid user data</span>
                </div>
                <div class="form-group">
                    <label for="secret">Secret questions</label>
                    <select type="text" id="secret" class="form-control" name="secret" [ngModel]="defaultQuestion" ngModel>
                        <option value="pet">Your first pet?</option>
                        <option value="teacher">Your favourite teacher?</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="answer" rows="3" [(ngModel)]="answer" ngModel></textarea>
                </div>
                <p [hidden]="!answer">Answer is: {{answer}}</p>
                <div class="radio" *ngFor="let gender of genders">
                    <label>
                        <input type="radio" name="gender" [value]="gender" ngModel> {{gender}}
                    </label>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Submit</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" *ngIf="submited">
            <h4>User data</h4>
            <p>Username: {{user.username}}</p>
            <p>Email: {{user.email}}</p>
            <p>Secret Question: {{user.secretQuestion}} </p>
            <p>Answer: {{user.answer}}</p>
            <p>Gander: {{user.gender}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="onMailSubmit()" #fr="ngForm">
                <div class="form-group">
                    <label for="mail">Email</label>
                    <input type="email" id="mail" class="form-control" name="mail" ngModel required email #mail="ngModel">
                    <span *ngIf="mail.invalid && mail.touched" class="help-block">Please enter valid email</span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" name="password" ngModel required #password="ngModel">
                    <span *ngIf="password.invalid && password.touched" class="help-block">Please enter password</span>
                </div>
                <div class="form-group">
                    <label for="level">Level</label>
                    <select type="text" id="level" class="form-control" name="level" ngModel [ngModel]="defaultLevel">
                        <option [value]="level" *ngFor="let level of levels">{{ level }}</option>
                    </select>
                </div>
                <span *ngIf="fr.invalid && fr.touched" class="help-block">The from is invalid!!!</span>
                <button class="btn btn-success" type="submit" [disabled]="fr.invalid">Submit</button>
            </form>
        </div>
    </div>
    <hr *ngIf="mailSubmited">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" *ngIf="mailSubmited">
            <h4>Eamil data:</h4>
            <p>Email: {{mailData.email}}</p>
            <p>Password: {{mailData.password}}</p>
            <p>Level: {{mailData.level}} </p>
        </div>
    </div>
    <hr *ngIf="mailSubmited">