<div class="container">
    <app-cockpit (serverCreated)="onAddServer($event)" (blueprintCreated)="onAddBlueprint($event)">
    </app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <app-server-element *ngFor="let serverElement of serverElements" [target]="serverElement">
                <p>
                    <strong>{{ serverElement.content }}</strong>
                </p>
            </app-server-element>
        </div>
    </div>
    <app-game-control (numberEvent)="onNumberEvent($event)"></app-game-control>
    <div *ngFor="let numberEvent of numbers">
        <app-even *ngIf="numberEvent.type === 'even'" [value]="numberEvent.value"></app-even>
        <app-odd *ngIf="numberEvent.type === 'odd'" [value]="numberEvent.value"></app-odd>
    </div>
</div>